<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.png"/>
    <link rel="stylesheet" href="/style.css" media="screen">
    <title>{{ title }} | Kotlap Xextan</title>
    <script src="/bundle.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">MAIN</a></li>
            <li><a href="/xli">LEARN</a></li>
            <li><a href="/vla">TEXTS</a></li>
            <li><a href="/patqli">SCRIPTS</a></li>
            <li><a href="/xik">MYSTERIES</a></li>
            <li><a href="/not">OTHER</a></li>
        </ul>
    </nav>
    <header>
        <a id="header-link" href="/"></a>
        <label for="mode-switcher" class="mode-switcher-btn"></label>
        <input id="mode-switcher" type="checkbox">
    </header>
    <noscript>
        <div class="no-js notice"><span lang="art-x-xextan">No sla o lau ~ JavaScript ~</span> / JavaScript support is disabled</div>
    </noscript>
    <div class="construction notice"><span lang="art-x-xextan">Na fan u pal</span> / Under Construction</div>
    <main>
        <h1>{{ title }}</h1>
        {{ content }}
    </main>
    <footer>
        © 2022 – 2026 Rachel Isabel Gardener
    </footer>
</body>
</html>