/* fonts */
@font-face {
    font-family: "Iosevka Dingdong";
    src: url("https://raw.githubusercontent.com/Xextan/iosevka-dingdong/refs/heads/main/dist/IosevkaDingdong/TTF/IosevkaDingdong-Regular.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Iosevka Dingdong";
    src: url("https://raw.githubusercontent.com/Xextan/iosevka-dingdong/refs/heads/main/dist/IosevkaDingdong/TTF/IosevkaDingdong-Oblique.ttf");
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Iosevka Dingdong";
    src: url("https://raw.githubusercontent.com/Xextan/iosevka-dingdong/refs/heads/main/dist/IosevkaDingdong/TTF/IosevkaDingdong-Bold.ttf");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Iosevka Dingdong";
    src: url("https://raw.githubusercontent.com/Xextan/iosevka-dingdong/refs/heads/main/dist/IosevkaDingdong/TTF/IosevkaDingdong-BoldOblique.ttf");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin-top: 0;
}

:root {
    --primary: light-dark(#CC88FF, #330033);
    --secondary: light-dark(#AA55DD, #660066);
    --text: light-dark(#220022, #dddddd);
}

html {
    color-scheme: dark;
    padding: 0.5rem;
    font-family: 'Iosevka Dingdong', Arial, Helvetica, sans-serif;
    font-size: 14pt;
    min-height: 100%;
    background-color: var(--primary);
    &:has(#mode-switcher:checked) {
        color-scheme: light;
    }
}

body {
    margin: 0 auto;
    max-width: min(900px, 100%);
}

.notice {
    text-align: center;
    padding: 2px;
}

.construction {
    background-image: repeating-linear-gradient(135deg, #666 0, #666 20px, #660 20px, #660 40px, #666 40px);
    html:has(#mode-switcher:checked) & {
        background-image: repeating-linear-gradient(135deg, #bbb 0, #bbb 20px, #ee0 20px, #ee0 40px, #bbb 40px);
    }
}

.no-js {
    background-color: light-dark(#f66, #600);
}

#mode-switcher {
    display: none;
}

#header-link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.mode-switcher-btn {
    background-color: light-dark(yellow, white);
    height: 100%;
    width: 50px;
    display: inline-block;
    right: 0;
    position: absolute;
    cursor: pointer;
}

@counter-style senko-xilati {
    system: cyclic;
    symbols: 'M' 'W' '+' '=' '#' '^' 'X' '~' 'V';
    suffix: " ";
}

ul {
    list-style-type: senko-xilati;
}

header {
    height: 104px;
    position: relative;
    border: 2px solid var(--secondary);
    margin-bottom: 0.5rem;
    &:has(#mode-switcher:checked) {
        
    }
}

main {
    border: 2px solid var(--secondary);
    background-color: var(--primary);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    > :last-child {
        margin-bottom: 0;
    }
}

nav > ul {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem 0.5rem;
    row-rule: 0.1rem solid var(--secondary);
}
nav > ul > li {
    padding: 0 0.5rem;
    border-radius: 0.2rem 0.2rem 0 0;
    display: inline-block;
    flex: 1 auto;
    background-color: var(--secondary);
    &:not(:first-of-type) {
        
    }
    > * {
        color: var(--text);
    }
}

main::after{
    content: '';
    display: table;
    clear: both;
}

blockquote {
    border-left: 2px solid currentColor;
    padding-left: 10px;
    margin-left: 28px;
}

footer {
    margin: auto;
    width: fit-content;
}

code, kbd, samp, var {
    font-family: inherit;
    font-style: italic;
    color: light-dark(var(--tertiary), var(--primary));
}

.float {
    float: right;
    padding: 0.5em 0 0.5em 0.5em;
}